.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.hero__bg {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 100vh;
  z-index: -1;
}

.hero__content {
  padding-left: 60px;
}

.hero__titles,
.hero__text {
  display: grid;
  gap: 12px;
}

.hero__suptitle {
  height: 20px;
}

.hero__title {
  height: 60px;
}

.hero__ctas {
  display: flex;
  gap: 15px;
}

.hero__ctas a {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.32);
  padding: 10px 36px;
}

@media screen and (min-width: 780px) {
  .hero__suptitle {
    height: 31.5px;
  }

  .hero__title {
    height: 92.5px;
  }
}
