.categories {
  padding-left: 60px;
  margin-top: 55px;
}
.categories__items {
  display: flex;
  gap: 5px;
  margin-top: 5px;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.category {
  display: grid;
  place-items: center;
  place-content: center;
  gap: 10px;
  min-width: 204px;
  height: 124px;

  &:nth-child(1),
  &:nth-child(1n) {
    background: linear-gradient(#fd5183, #f04275);
  }

  &:nth-child(2),
  &:nth-child(2n) {
    background: linear-gradient(#ffc852, #eeb843);
  }

  &:nth-child(3),
  &:nth-child(3n) {
    background: linear-gradient(#81a7fc, #6e96ef);
  }

  &:nth-child(4),
  &:nth-child(4n) {
    background: linear-gradient(#bf64ff, #ab50eb);
  }

  &:nth-child(5),
  &:nth-child(5n) {
    background: linear-gradient(#fe7fd0, #e665b7);
  }

  &:nth-child(6),
  &:nth-child(6n) {
    background: linear-gradient(#bfed5a, #a7d73d);
  }

  &:nth-child(7),
  &:nth-child(7n) {
    background: linear-gradient(#5befd9, #41d5c0);
  }
}
