.list__items {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.list__items::-webkit-scrollbar {
  display: none;
}

.list__title {
  font-size: 20px;
}
