.list {
  padding-left: 60px;
  margin-bottom: 55px;
}

.list__items {
  display: flex;
  column-gap: 5px;

  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.list__items::-webkit-scrollbar {
  display: none;
}

.list__title {
  font-size: 20px;
}
